body {
	font-family: Verdana;
	background-image: url('bgimage_white.png');
}
td, tr {
	border-collapse: collapse;
	text-align: center;
	color: white;
}
#header {
	position: fixed;
    left: 0;
    top: 0;
    display: inline;
    width: 100%;
    height: 40px;
    background-image: url('bgimage_dark.png');
    opacity: 0.90;
	z-index: 1;
}
.container {
	display: inline-block;
	float: left;
	clear: both;
	width: auto;
	height: auto;
	padding: 15px;
	margin-bottom: 30px; 
	background-image: url('bgimage_dark.png');
	color: white;
}
#main {
	position: relative;
	top: 100px;
	left: 100px;
	width: auto;
	height: auto; 
}
.space {
	position: relative;
	width: auto;
	height: auto;
}
.button {
	position: relative;
	float: right;
	width: 140px;
	height: 100%;
	margin-right: 10px;
	font-family:'Helvetica Neue',sans-serif;
	font-size: 18px;
	line-height: 30px;
 	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; 
    text-align: center;
	background: #f39c12;
	cursor: pointer;
}